// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #239C8F;
$gray: #0E0000;
$light-gray: #D9D9D9;

$main-gray: #2F3241;
