body{
    background-color: #131722;
    color: $light-gray;
}
input[type=text], input[type=number] {
    border: none !important;
    border-radius: 2px !important;
    background-color: $light-gray !important;
}
.container-hot-stocks{

    margin-top: 5px;
}

.btn-outline-secondary {
   width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-success {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-red {
  width: 25px;
  height: 25px;
  background-color: #303341;
  color: #F71735;
  border: 1px solid #F71735;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  opacity: 0.5;
}

.btn-red:hover {
  background-color: #F71735;
  color: #FFFFFF;
}

.btn-green {
  width: 25px;
  height: 25px;
  background-color: #303341;
  color: rgba(42, 192, 22, 0.7);
  border: 1px solid rgba(42, 192, 22, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  opacity: 0.5;
}

.btn-green:hover {
  background-color: rgba(42, 192, 22, 0.7);
  color: #FFFFFF;
}




.text-center-profile{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

