<div class="container border p-3 rounded my-5  w-50 ">
    <h2>Add a Stock</h2>
  <div class="form-group">
    <%= simple_form_for @stock do |f| %>
      <%= f.input :symbol, placeholder: 'AAPL or ACB.TO'   %>

      <%= f.button :submit, class: 'btn btn-primary rounded-btn' %>
    <% end %>
  </div>
</div>

