<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright">
  </div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
  {
  "colorTheme": "dark",
  "dateRange": "12m",
  "showChart": false,
  "locale": "en",
  "largeChartUrl": "",
  "isTransparent": false,
  "width": "300",
  "height": "675",
  "tabs": [
    {
      "title": "Indices",
      "symbols": [
        {
          "s": "FOREXCOM:SPXUSD",
          "d": "S&P 500"
        },
        {
          "s": "FOREXCOM:NSXUSD",
          "d": "Nasdaq 100"
        },
        {
          "s": "FOREXCOM:DJI",
          "d": "Dow 30"
        },
        {
          "s": "INDEX:NKY",
          "d": "Nikkei 225"
        },
        {
          "s": "INDEX:DEU30",
          "d": "DAX Index"
        },
        {
          "s": "FOREXCOM:UKXGBP",
          "d": "FTSE 100"
        }
      ],
      "originalTitle": "Indices"
    },
    {
      "title": "Commodities",
      "symbols": [
        {
          "s": "CME_MINI:ES1!",
          "d": "E-Mini S&P"
        },
        {
          "s": "CME:6E1!",
          "d": "Euro"
        },
        {
          "s": "COMEX:GC1!",
          "d": "Gold"
        },
        {
          "s": "NYMEX:CL1!",
          "d": "Crude Oil"
        },
        {
          "s": "NYMEX:NG1!",
          "d": "Natural Gas"
        },
        {
          "s": "CBOT:ZC1!",
          "d": "Corn"
        }
      ],
      "originalTitle": "Commodities"
    },
    {
      "title": "Bonds",
      "symbols": [
        {
          "s": "CME:GE1!",
          "d": "Eurodollar"
        },
        {
          "s": "CBOT:ZB1!",
          "d": "T-Bond"
        },
        {
          "s": "CBOT:UB1!",
          "d": "Ultra T-Bond"
        },
        {
          "s": "EUREX:FGBL1!",
          "d": "Euro Bund"
        },
        {
          "s": "EUREX:FBTP1!",
          "d": "Euro BTP"
        },
        {
          "s": "EUREX:FGBM1!",
          "d": "Euro BOBL"
        }
      ],
      "originalTitle": "Bonds"
    },
    {
      "title": "Forex",
      "symbols": [
        {
          "s": "FX:EURUSD"
        },
        {
          "s": "FX:GBPUSD"
        },
        {
          "s": "FX:USDJPY"
        },
        {
          "s": "FX:USDCHF"
        },
        {
          "s": "FX:AUDUSD"
        },
        {
          "s": "FX:USDCAD"
        }
      ],
      "originalTitle": "Forex"
    },
    {
      "title": "Utilities",
      "symbols": [
        {
          "s": "NYSE:AEE"
        },
        {
          "s": "NYSE:AEP"
        },
        {
          "s": "NYSE:AES"
        },
        {
          "s": "NYSE:CMS"
        },
        {
          "s": "NYSE:CNP"
        },
        {
          "s": "NYSE:D"
        },
        {
          "s": "NYSE:DUK"
        },
        {
          "s": "NYSE:ED"
        },
        {
          "s": "NYSE:ES"
        },
        {
          "s": "NYSE:ETR"
        },
        {
          "s": "NYSE:EVRG"
        },
        {
          "s": "NASDAQ:EXC"
        },
        {
          "s": "NYSE:FE"
        },
        {
          "s": "NASDAQ:LNT"
        },
        {
          "s": "NYSE:NEE"
        },
        {
          "s": "NYSE:NI"
        },
        {
          "s": "NYSE:NRG"
        },
        {
          "s": "NYSE:PCG"
        },
        {
          "s": "NYSE:PEG"
        },
        {
          "s": "NYSE:PPL"
        },
        {
          "s": "NYSE:SBS"
        },
        {
          "s": "NYSE:SO"
        },
        {
          "s": "NYSE:SRE"
        },
        {
          "s": "NASDAQ:TERP"
        },
        {
          "s": "NYSE:VST"
        },
        {
          "s": "NASDAQ:XEL"
        }
      ]
    },
    {
      "title": "Basic Materials",
      "symbols": [
        {
          "s": "NYSE:AA"
        },
        {
          "s": "NYSE:AEM"
        },
        {
          "s": "NYSE:AMCR"
        },
        {
          "s": "NYSE:AU"
        },
        {
          "s": "NYSE:AXTA"
        },
        {
          "s": "NYSE:BERY"
        },
        {
          "s": "NYSE:BLL"
        },
        {
          "s": "NYSE:CC"
        },
        {
          "s": "NYSE:CCK"
        },
        {
          "s": "NYSE:CF"
        },
        {
          "s": "NYSE:CLF"
        },
        {
          "s": "NYSE:CMC"
        },
        {
          "s": "NYSE:CTVA"
        },
        {
          "s": "NYSE:DD"
        },
        {
          "s": "NYSE:DOW"
        },
        {
          "s": "NYSE:FCX"
        },
        {
          "s": "NYSE:GPK"
        },
        {
          "s": "NYSE:HUN"
        },
        {
          "s": "NYSE:IP"
        },
        {
          "s": "NYSE:KL"
        },
        {
          "s": "NYSE:LIN"
        },
        {
          "s": "NYSE:LYB"
        },
        {
          "s": "NYSE:MOS"
        },
        {
          "s": "NYSE:MT"
        },
        {
          "s": "NYSE:NEM"
        },
        {
          "s": "NYSE:NTR"
        },
        {
          "s": "NYSE:NUE"
        },
        {
          "s": "NYSE:OLN"
        },
        {
          "s": "NASDAQ:PAAS"
        },
        {
          "s": "NYSE:PKG"
        },
        {
          "s": "NYSE:PVG"
        },
        {
          "s": "NYSE:RIO"
        },
        {
          "s": "NYSE:SEE"
        },
        {
          "s": "NYSE:SLCA"
        },
        {
          "s": "NYSE:SQM"
        },
        {
          "s": "NASDAQ:STLD"
        },
        {
          "s": "NYSE:TECK"
        },
        {
          "s": "NYSE:TROX"
        },
        {
          "s": "NYSE:TS"
        },
        {
          "s": "NYSE:VALE"
        },
        {
          "s": "NYSE:WLK"
        },
        {
          "s": "NYSE:WPM"
        },
        {
          "s": "NYSE:WRK"
        },
        {
          "s": "NYSE:X"
        }
      ]
    },
    {
      "title": "Energy",
      "symbols": [
        {
          "s": "NYSE:AM"
        },
        {
          "s": "NYSE:APA"
        },
        {
          "s": "NYSE:BP"
        },
        {
          "s": "NYSE:CLR"
        },
        {
          "s": "NYSE:CNQ"
        },
        {
          "s": "NYSE:COG"
        },
        {
          "s": "NYSE:COP"
        },
        {
          "s": "NYSE:CRC"
        },
        {
          "s": "NYSE:CVX"
        },
        {
          "s": "NYSE:CXO"
        },
        {
          "s": "NYSE:DK"
        },
        {
          "s": "NYSE:DVN"
        },
        {
          "s": "NYSE:ENB"
        },
        {
          "s": "NYSE:ENLC"
        },
        {
          "s": "NASDAQ:ENPH"
        },
        {
          "s": "NYSE:EPD"
        },
        {
          "s": "NYSE:EQNR"
        },
        {
          "s": "NYSE:EQT"
        },
        {
          "s": "NYSE:ET"
        },
        {
          "s": "NYSE:ETRN"
        },
        {
          "s": "NASDAQ:FANG"
        },
        {
          "s": "NYSE:HAL"
        },
        {
          "s": "NYSE:HES"
        },
        {
          "s": "NYSE:HFC"
        },
        {
          "s": "NYSE:HP"
        },
        {
          "s": "NYSE:KMI"
        },
        {
          "s": "NYSE:MGY"
        },
        {
          "s": "NYSE:MPC"
        },
        {
          "s": "NYSE:MPLX"
        },
        {
          "s": "NYSE:MRO"
        },
        {
          "s": "NYSE:MTDR"
        },
        {
          "s": "NYSE:MUR"
        },
        {
          "s": "NASDAQ:NBL"
        },
        {
          "s": "NYSE:NOV"
        },
        {
          "s": "NYSE:OII"
        },
        {
          "s": "NYSE:OKE"
        },
        {
          "s": "NYSE:OXY"
        },
        {
          "s": "NYSE:PAA"
        },
        {
          "s": "NYSE:PAGP"
        },
        {
          "s": "NYSE:PBF"
        },
        {
          "s": "NYSE:PBR"
        },
        {
          "s": "NASDAQ:PDCE"
        },
        {
          "s": "NYSE:PE"
        },
        {
          "s": "NYSE:PSX"
        },
        {
          "s": "NASDAQ:PTEN"
        },
        {
          "s": "NYSE:PUMP"
        },
        {
          "s": "NYSE:PXD"
        },
        {
          "s": "NASDAQ:RUN"
        },
        {
          "s": "NYSE:SLB"
        },
        {
          "s": "NYSE:SM"
        },
        {
          "s": "NASDAQ:SPWR"
        },
        {
          "s": "TSX:SU"
        },
        {
          "s": "NASDAQ:TGEN"
        },
        {
          "s": "NYSE:TRGP"
        },
        {
          "s": "NYSE:TRP"
        },
        {
          "s": "NYSE:VLO"
        },
        {
          "s": "NYSE:WLL"
        },
        {
          "s": "NYSE:WMB"
        },
        {
          "s": "NYSE:WPX"
        },
        {
          "s": "NYSE:XEC"
        },
        {
          "s": "NYSE:XOM"
        },
        {
          "s": "NYSE:YPF"
        }
      ]
    },
    {
      "title": "Healthcare",
      "symbols": [
        {
          "s": "NYSE:A"
        },
        {
          "s": "NYSE:ABBV"
        },
        {
          "s": "NYSE:ABC"
        },
        {
          "s": "NYSE:ABT"
        },
        {
          "s": "NASDAQ:AERI"
        },
        {
          "s": "NASDAQ:ALKS"
        },
        {
          "s": "NASDAQ:ALXN"
        },
        {
          "s": "NASDAQ:AMGN"
        },
        {
          "s": "NASDAQ:AMRN"
        },
        {
          "s": "NYSE:ANTM"
        },
        {
          "s": "NASDAQ:ARWR"
        },
        {
          "s": "NYSE:AZN"
        },
        {
          "s": "NYSE:BAX"
        },
        {
          "s": "NYSE:BHC"
        },
        {
          "s": "NASDAQ:BIIB"
        },
        {
          "s": "NYSE:BMY"
        },
        {
          "s": "NYSE:BSX"
        },
        {
          "s": "NYSE:CAH"
        },
        {
          "s": "NASDAQ:CERN"
        },
        {
          "s": "NYSE:CGC"
        },
        {
          "s": "NASDAQ:CHRS"
        },
        {
          "s": "NYSE:CI"
        },
        {
          "s": "NASDAQ:CLVS"
        },
        {
          "s": "NYSE:CNC"
        },
        {
          "s": "NASDAQ:CRON"
        },
        {
          "s": "NYSE:CVS"
        },
        {
          "s": "NYSE:DHR"
        },
        {
          "s": "NYSE:DVA"
        },
        {
          "s": "NASDAQ:DXCM"
        },
        {
          "s": "NYSE:EHC"
        },
        {
          "s": "NYSE:ELAN"
        },
        {
          "s": "NYSE:EW"
        },
        {
          "s": "NASDAQ:EXAS"
        },
        {
          "s": "NASDAQ:EXEL"
        },
        {
          "s": "NYSE:EW"
        },
        {
          "s": "NASDAQ:FATE"
        },
        {
          "s": "NASDAQ:FOLD"
        },
        {
          "s": "NASDAQ:GBT"
        },
        {
          "s": "NASDAQ:GILD"
        },
        {
          "s": "NYSE:GSK"
        },
        {
          "s": "NYSE:HNGR"
        },
        {
          "s": "NASDAQ:HOLX"
        },
        {
          "s": "NASDAQ:HRTX"
        },
        {
          "s": "NYSE:HUM"
        },
        {
          "s": "NASDAQ:HZNP"
        },
        {
          "s": "NASDAQ:IMMU"
        },
        {
          "s": "NASDAQ:INSM"
        },
        {
          "s": "NASDAQ:IONS"
        },
        {
          "s": "NASDAQ:IOVA"
        },
        {
          "s": "NYSE:IQV"
        },
        {
          "s": "NASDAQ:IRWD"
        },
        {
          "s": "NYSE:JNJ"
        },
        {
          "s": "NYSE:LLY"
        },
        {
          "s": "NYSE:MCK"
        },
        {
          "s": "NYSE:MDT"
        },
        {
          "s": "NYSE:MRK"
        },
        {
          "s": "NASDAQ:MRNA"
        },
        {
          "s": "NASDAQ:MYL"
        },
        {
          "s": "NYSE:NVS"
        },
        {
          "s": "NYSE:NVTA"
        },
        {
          "s": "NASDAQ:PBYI"
        },
        {
          "s": "NASDAQ:PDCO"
        },
        {
          "s": "NYSE:PFE"
        },
        {
          "s": "NYSE:PRGO"
        },
        {
          "s": "NASDAQ:SGMO"
        },
        {
          "s": "NASDAQ:SNY"
        },
        {
          "s": "NASDAQ:SRPT"
        },
        {
          "s": "NYSE:TAK"
        },
        {
          "s": "NYSE:THC"
        },
        {
          "s": "NASDAQ:TLRY"
        },
        {
          "s": "NYSE:UNH"
        },
        {
          "s": "NASDAQ:WMGI"
        },
        {
          "s": "NASDAQ:XNCR"
        },
        {
          "s": "NYSE:ZBH"
        },
        {
          "s": "NYSE:ZTS"
        }
      ]
    },
    {
      "title": "Industrial Goods",
      "symbols": [
        {
          "s": "NASDAQ:AAL"
        },
        {
          "s": "NASDAQ:AAXN"
        },
        {
          "s": "NYSE:ABB"
        },
        {
          "s": "NYSE:ALK"
        },
        {
          "s": "NYSE:AME"
        },
        {
          "s": "NYSE:AOS"
        },
        {
          "s": "NYSE:ARNC"
        },
        {
          "s": "NYSE:AYI"
        },
        {
          "s": "NYSE:BA"
        },
        {
          "s": "NYSE:BAH"
        },
        {
          "s": "NYSE:BE"
        },
        {
          "s": "NYSE:CAT"
        },
        {
          "s": "NASDAQ:CDK"
        },
        {
          "s": "NYSE:CFX"
        },
        {
          "s": "NYSE:CMI"
        },
        {
          "s": "NYSE:CNHI"
        },
        {
          "s": "NYSE:CNI"
        },
        {
          "s": "NASDAQ:CPRT"
        },
        {
          "s": "NASDAQ:CSX"
        },
        {
          "s": "NYSE:CXW"
        },
        {
          "s": "NYSE:DAL"
        },
        {
          "s": "NYSE:DE"
        },
        {
          "s": "NYSE:DOV"
        },
        {
          "s": "NYSE:EAF"
        },
        {
          "s": "NYSE:EMR"
        },
        {
          "s": "NYSE:ETN"
        },
        {
          "s": "NASDAQ:FAST"
        },
        {
          "s": "NYSE:FBHS"
        },
        {
          "s": "NYSE:FLR"
        },
        {
          "s": "NYSE:GBX"
        },
        {
          "s": "NYSE:GE"
        },
        {
          "s": "NYSE:GTX"
        },
        {
          "s": "NASDAQ:HDS"
        },
        {
          "s": "NYSE:INFO"
        },
        {
          "s": "NYSE:IR"
        },
        {
          "s": "NASDAQ:JBLU"
        },
        {
          "s": "NYSE:JCI"
        },
        {
          "s": "NYSE:KNX"
        },
        {
          "s": "NASDAQ:KTOS"
        },
        {
          "s": "NYSE:LHX"
        },
        {
          "s": "NYSE:LMT"
        },
        {
          "s": "NYSE:LUV"
        },
        {
          "s": "NYSE:MAS"
        },
        {
          "s": "NYSE:MDU"
        },
        {
          "s": "NYSE:MMM"
        },
        {
          "s": "NYSE:NSC"
        },
        {
          "s": "NYSE:OC"
        },
        {
          "s": "NASDAQ:PCAR"
        },
        {
          "s": "NYSE:PNR"
        },
        {
          "s": "NYSE:PWR"
        },
        {
          "s": "NYSE:SPR"
        },
        {
          "s": "NYSE:SUM"
        },
        {
          "s": "NYSE:TEX"
        },
        {
          "s": "NYSE:TRN"
        },
        {
          "s": "NYSE:TTM"
        },
        {
          "s": "NYSE:TXT"
        },
        {
          "s": "NASDAQ:UAL"
        },
        {
          "s": "NYSE:UNP"
        },
        {
          "s": "NYSE:UPS"
        },
        {
          "s": "NYSE:WBT"
        },
        {
          "s": "NYSE:WM"
        },
        {
          "s": "NYSE:XPO"
        },
        {
          "s": "NYSE:XYL"
        },
        {
          "s": "NYSE:ZTO"
        }
      ]
    },
    {
      "title": "Communication Services",
      "symbols": [
        {
          "s": "NYSE:AMX"
        },
        {
          "s": "NASDAQ:ATVI"
        },
        {
          "s": "NASDAQ:BILI"
        },
        {
          "s": "NASDAQ:CMCSA"
        },
        {
          "s": "NYSE:CTL"
        },
        {
          "s": "NYSE:DIS"
        },
        {
          "s": "NASDAQ:DISCA"
        },
        {
          "s": "NASDAQ:DISH"
        },
        {
          "s": "NASDAQ:EA"
        },
        {
          "s": "NASDAQ:FB"
        },
        {
          "s": "NASDAQ:FOX"
        },
        {
          "s": "NYSE:FTCH"
        },
        {
          "s": "NYSE:GDDY"
        },
        {
          "s": "NASDAQ:GOOGL"
        },
        {
          "s": "NYSE:IPG"
        },
        {
          "s": "NASDAQ:IQ"
        },
        {
          "s": "NASDAQ:LBTYA"
        },
        {
          "s": "NASDAQ:NFLX"
        },
        {
          "s": "NYSE:NLSN"
        },
        {
          "s": "NASDAQ:NWSA"
        },
        {
          "s": "NYSE:NYT"
        },
        {
          "s": "NYSE:OMC"
        },
        {
          "s": "NASDAQ:PDD"
        },
        {
          "s": "NASDAQ:QRTEA"
        },
        {
          "s": "NASDAQ:SBGI"
        },
        {
          "s": "NYSE:SNAP"
        },
        {
          "s": "NYSE:SPOT"
        },
        {
          "s": "NYSE:T"
        },
        {
          "s": "NYSE:TGNA"
        },
        {
          "s": "NYSE:TME"
        },
        {
          "s": "NASDAQ:TMUS"
        },
        {
          "s": "NASDAQ:TRIP"
        },
        {
          "s": "NYSE:TSU"
        },
        {
          "s": "NASDAQ:TTWO"
        },
        {
          "s": "NYSE:TWTR"
        },
        {
          "s": "NASDAQ:VG"
        },
        {
          "s": "NYSE:VIV"
        },
        {
          "s": "NASDAQ:VOD"
        },
        {
          "s": "NYSE:VZ"
        },
        {
          "s": "NASDAQ:WB"
        },
        {
          "s": "NASDAQ:YNDX"
        }
      ]
    },
    {
      "title": "Consumer Discretionary",
      "symbols": [
        {
          "s": "NYSE:AAP"
        },
        {
          "s": "NYSE:ADNT"
        },
        {
          "s": "NYSE:AEO"
        },
        {
          "s": "NASDAQ:AMZN"
        },
        {
          "s": "NYSE:ANF"
        },
        {
          "s": "NYSE:APTV"
        },
        {
          "s": "NYSE:ARMK"
        },
        {
          "s": "NYSE:AXL"
        },
        {
          "s": "NYSE:BABA"
        },
        {
          "s": "NASDAQ:BBBY"
        },
        {
          "s": "NYSE:BBY"
        },
        {
          "s": "NYSE:BC"
        },
        {
          "s": "NASDAQ:BLMN"
        },
        {
          "s": "NYSE:BWA"
        },
        {
          "s": "NYSE:BYD"
        },
        {
          "s": "NYSE:CCL"
        },
        {
          "s": "NYSE:CHWY"
        },
        {
          "s": "NYSE:CNK"
        },
        {
          "s": "NYSE:CPRI"
        },
        {
          "s": "NASDAQ:CROX"
        },
        {
          "s": "NASDAQ:CZR"
        },
        {
          "s": "NYSE:DAN"
        },
        {
          "s": "NYSE:DBI"
        },
        {
          "s": "NYSE:DG"
        },
        {
          "s": "NYSE:DHI"
        },
        {
          "s": "NYSE:DKS"
        },
        {
          "s": "NASDAQ:DLTR"
        },
        {
          "s": "NYSE:DRI"
        },
        {
          "s": "NASDAQ:EBAY"
        },
        {
          "s": "NYSE:EDU"
        },
        {
          "s": "NYSE:ELY"
        },
        {
          "s": "NASDAQ:ERI"
        },
        {
          "s": "NASDAQ:ETSY"
        },
        {
          "s": "NYSE:F"
        },
        {
          "s": "NYSE:FCAU"
        },
        {
          "s": "NASDAQ:FIVE"
        },
        {
          "s": "NYSE:FL"
        },
        {
          "s": "NYSE:GES"
        },
        {
          "s": "NYSE:GM"
        },
        {
          "s": "NASDAQ:GNTX"
        },
        {
          "s": "NYSE:GPS"
        },
        {
          "s": "NYSE:GRUB"
        },
        {
          "s": "NYSE:HBI"
        },
        {
          "s": "NYSE:HD"
        },
        {
          "s": "NYSE:HGV"
        },
        {
          "s": "NYSE:HLT"
        },
        {
          "s": "NYSE:HOG"
        },
        {
          "s": "NYSE:HRB"
        },
        {
          "s": "NYSE:HTZ"
        },
        {
          "s": "NYSE:IGT"
        },
        {
          "s": "NASDAQ:JD"
        },
        {
          "s": "NYSE:JWN"
        },
        {
          "s": "NYSE:KAR"
        },
        {
          "s": "NYSE:KBH"
        },
        {
          "s": "NYSE:KMX"
        },
        {
          "s": "NYSE:KSS"
        },
        {
          "s": "NASDAQ:LAUR"
        },
        {
          "s": "NYSE:LB"
        },
        {
          "s": "NYSE:LEN"
        },
        {
          "s": "NASDAQ:LKQ"
        },
        {
          "s": "NYSE:LOW"
        },
        {
          "s": "NASDAQ:LULU"
        },
        {
          "s": "NYSE:LVS"
        },
        {
          "s": "NYSE:LYV"
        },
        {
          "s": "NYSE:M"
        },
        {
          "s": "NASDAQ:MAT"
        },
        {
          "s": "NYSE:MCD"
        },
        {
          "s": "NYSE:MGM"
        },
        {
          "s": "NASDAQ:MLCO"
        },
        {
          "s": "NASDAQ:MTCH"
        },
        {
          "s": "NYSE:NCLH"
        },
        {
          "s": "NYSE:NKE"
        },
        {
          "s": "NASDAQ:NWL"
        },
        {
          "s": "NASDAQ:OLLI"
        },
        {
          "s": "NASDAQ:OSTK"
        },
        {
          "s": "NASDAQ:PENN"
        },
        {
          "s": "NYSE:PHM"
        },
        {
          "s": "NASDAQ:PLAY"
        },
        {
          "s": "NYSE:PLNT"
        },
        {
          "s": "NYSE:PVH"
        },
        {
          "s": "NYSE:QSR"
        },
        {
          "s": "NYSE:RCL"
        },
        {
          "s": "NYSE:RHI"
        },
        {
          "s": "NYSE:RL"
        },
        {
          "s": "NYSE:ROL"
        },
        {
          "s": "NASDAQ:ROST"
        },
        {
          "s": "NASDAQ:SABR"
        },
        {
          "s": "NYSE:SBH"
        },
        {
          "s": "NASDAQ:SBUX"
        },
        {
          "s": "NYSE:SEAS"
        },
        {
          "s": "NASDAQ:SFIX"
        },
        {
          "s": "NASDAQ:SGMS"
        },
        {
          "s": "NYSE:SIG"
        },
        {
          "s": "NYSE:SKX"
        },
        {
          "s": "NASDAQ:STAY"
        },
        {
          "s": "NYSE:TAL"
        },
        {
          "s": "NYSE:TGT"
        },
        {
          "s": "NYSE:TIF"
        },
        {
          "s": "NYSE:TJX"
        },
        {
          "s": "NYSE:TMHC"
        },
        {
          "s": "NYSE:TPH"
        },
        {
          "s": "NYSE:TPR"
        },
        {
          "s": "NASDAQ:TSCO"
        },
        {
          "s": "NASDAQ:TSLA"
        },
        {
          "s": "NASDAQ:TXRH"
        },
        {
          "s": "NYSE:UAA"
        },
        {
          "s": "NASDAQ:URBN"
        },
        {
          "s": "NYSE:VFC"
        },
        {
          "s": "NYSE:W"
        },
        {
          "s": "NASDAQ:WEN"
        },
        {
          "s": "NASDAQ:WYNN"
        },
        {
          "s": "NYSE:YUM"
        },
        {
          "s": "NYSE:YUMC"
        }
      ]
    },
    {
      "title": "Consumer Staples",
      "symbols": [
        {
          "s": "NYSE:ADM"
        },
        {
          "s": "NYSE:BTI"
        },
        {
          "s": "NYSE:BUD"
        },
        {
          "s": "NYSE:CAG"
        },
        {
          "s": "NYSE:CHD"
        },
        {
          "s": "NYSE:CL"
        },
        {
          "s": "NASDAQ:COST"
        },
        {
          "s": "NYSE:COTY"
        },
        {
          "s": "NYSE:CPB"
        },
        {
          "s": "NYSE:EL"
        },
        {
          "s": "NYSE:GIS"
        },
        {
          "s": "NASDAQ:GT"
        },
        {
          "s": "NYSE:HLF"
        },
        {
          "s": "NYSE:HRL"
        },
        {
          "s": "NYSE:HSY"
        },
        {
          "s": "NYSE:K"
        },
        {
          "s": "NASDAQ:KHC"
        },
        {
          "s": "NYSE:KMB"
        },
        {
          "s": "NYSE:KO"
        },
        {
          "s": "NYSE:KR"
        },
        {
          "s": "NASDAQ:MDLZ"
        },
        {
          "s": "NYSE:MKC"
        },
        {
          "s": "NASDAQ:MNST"
        },
        {
          "s": "NYSE:MO"
        },
        {
          "s": "NASDAQ:PEP"
        },
        {
          "s": "NYSE:PFGC"
        },
        {
          "s": "NYSE:PG"
        },
        {
          "s": "NYSE:PM"
        },
        {
          "s": "NASDAQ:SFM"
        },
        {
          "s": "NYSE:SJM"
        },
        {
          "s": "NYSE:STZ"
        },
        {
          "s": "NYSE:SYY"
        },
        {
          "s": "NYSE:TSN"
        },
        {
          "s": "NYSE:UN"
        },
        {
          "s": "NASDAQ:WBA"
        },
        {
          "s": "NYSE:WMT"
        }
      ]
    },
    {
      "title": "Information Technology",
      "symbols": [
        {
          "s": "NASDAQ:AAPL"
        },
        {
          "s": "NYSE:ACN"
        },
        {
          "s": "NASDAQ:ADBE"
        },
        {
          "s": "NASDAQ:ADI"
        },
        {
          "s": "NASDAQ:ADP"
        },
        {
          "s": "NASDAQ:ADP"
        },
        {
          "s": "NASDAQ:AMAT"
        },
        {
          "s": "NASDAQ:AMD"
        },
        {
          "s": "NYSE:APH"
        },
        {
          "s": "NYSE:APH"
        },
        {
          "s": "NYSE:ATUS"
        },
        {
          "s": "NASDAQ:AVGO"
        },
        {
          "s": "NYSE:AYX"
        },
        {
          "s": "NASDAQ:BL"
        },
        {
          "s": "NYSE:BOX"
        },
        {
          "s": "NYSE:CARS"
        },
        {
          "s": "NASDAQ:CDNS"
        },
        {
          "s": "NASDAQ:CGNX"
        },
        {
          "s": "NYSE:CIEN"
        },
        {
          "s": "NASDAQ:COMM"
        },
        {
          "s": "NASDAQ:COUP"
        },
        {
          "s": "NASDAQ:CREE"
        },
        {
          "s": "NYSE:CRM"
        },
        {
          "s": "NASDAQ:CSCO"
        },
        {
          "s": "NASDAQ:CTSH"
        },
        {
          "s": "NASDAQ:CTXS"
        },
        {
          "s": "BMV:CY"
        },
        {
          "s": "NASDAQ:DBX"
        },
        {
          "s": "NYSE:DELL"
        },
        {
          "s": "NASDAQ:DOCU"
        },
        {
          "s": "NYSE:DXC"
        },
        {
          "s": "NASDAQ:ENTG"
        },
        {
          "s": "NYSE:ESTC"
        },
        {
          "s": "NASDAQ:FEYE"
        },
        {
          "s": "NYSE:FIS"
        },
        {
          "s": "NASDAQ:FISV"
        },
        {
          "s": "NASDAQ:FTNT"
        },
        {
          "s": "NYSE:GLW"
        },
        {
          "s": "NYSE:GPN"
        },
        {
          "s": "NASDAQ:GSKY"
        },
        {
          "s": "NYSE:HPE"
        },
        {
          "s": "NYSE:HPQ"
        },
        {
          "s": "NASDAQ:HQY"
        },
        {
          "s": "NYSE:HUYA"
        },
        {
          "s": "NYSE:IBM"
        },
        {
          "s": "NYSE:INFY"
        },
        {
          "s": "NASDAQ:INTC"
        },
        {
          "s": "NYSE:JBL"
        },
        {
          "s": "NYSE:JNPR"
        },
        {
          "s": "NYSE:KEYS"
        },
        {
          "s": "NASDAQ:KLAC"
        },
        {
          "s": "NASDAQ:LITE"
        },
        {
          "s": "NASDAQ:LRCX"
        },
        {
          "s": "NASDAQ:LSCC"
        },
        {
          "s": "NYSE:MA"
        },
        {
          "s": "NASDAQ:MCHP"
        },
        {
          "s": "NASDAQ:MDB"
        },
        {
          "s": "NASDAQ:MDRX"
        },
        {
          "s": "NASDAQ:MOMO"
        },
        {
          "s": "NASDAQ:MRVL"
        },
        {
          "s": "NASDAQ:MSFT"
        },
        {
          "s": "NYSE:MSI"
        },
        {
          "s": "NASDAQ:MU"
        },
        {
          "s": "NASDAQ:MXIM"
        },
        {
          "s": "NYSE:NOW"
        },
        {
          "s": "NASDAQ:NTAP"
        },
        {
          "s": "NASDAQ:NUAN"
        },
        {
          "s": "NYSE:NVT"
        },
        {
          "s": "NASDAQ:NXPI"
        },
        {
          "s": "NASDAQ:OKTA"
        },
        {
          "s": "NASDAQ:ON"
        },
        {
          "s": "NYSE:ORCL"
        },
        {
          "s": "NYSE:PAGS"
        },
        {
          "s": "NASDAQ:PAYX"
        },
        {
          "s": "NYSE:PLAN"
        },
        {
          "s": "NYSE:PSTG"
        },
        {
          "s": "NASDAQ:PYPL"
        },
        {
          "s": "NASDAQ:QCOM"
        },
        {
          "s": "NASDAQ:QRVO"
        },
        {
          "s": "NASDAQ:ROKU"
        },
        {
          "s": "NYSE:SHOP"
        },
        {
          "s": "NYSE:SMAR"
        },
        {
          "s": "NYSE:SNE"
        },
        {
          "s": "NASDAQ:SNPS"
        },
        {
          "s": "NASDAQ:SPLK"
        },
        {
          "s": "NASDAQ:SSNC"
        },
        {
          "s": "NYSE:STM"
        },
        {
          "s": "NASDAQ:STNE"
        },
        {
          "s": "NASDAQ:STX"
        },
        {
          "s": "NYSE:SWCH"
        },
        {
          "s": "NASDAQ:SWKS"
        },
        {
          "s": "NASDAQ:TEAM"
        },
        {
          "s": "NYSE:TEL"
        },
        {
          "s": "NASDAQ:TTD"
        },
        {
          "s": "NYSE:TWLO"
        },
        {
          "s": "NASDAQ:TXN"
        },
        {
          "s": "NYSE:V"
        },
        {
          "s": "NYSE:VEEV"
        },
        {
          "s": "NASDAQ:VIAV"
        },
        {
          "s": "NYSE:VMW"
        },
        {
          "s": "NASDAQ:WDAY"
        },
        {
          "s": "NASDAQ:WDC"
        },
        {
          "s": "NYSE:WORK"
        },
        {
          "s": "NASDAQ:XLNX"
        },
        {
          "s": "NYSE:XRX"
        },
        {
          "s": "NASDAQ:ZS"
        }
      ]
    },
    {
      "title": "Real Estate",
      "symbols": [
        {
          "s": "NYSE:ABR"
        },
        {
          "s": "NASDAQ:AGNC"
        },
        {
          "s": "NYSE:AMH"
        },
        {
          "s": "NYSE:AMT"
        },
        {
          "s": "NYSE:BAM"
        },
        {
          "s": "NASDAQ:BPY"
        },
        {
          "s": "NYSE:BRX"
        },
        {
          "s": "NYSE:BXMT"
        },
        {
          "s": "NYSE:CBRE"
        },
        {
          "s": "NYSE:CCI"
        },
        {
          "s": "NYSE:CUBE"
        },
        {
          "s": "NYSE:CUZ"
        },
        {
          "s": "NYSE:DEA"
        },
        {
          "s": "NYSE:DOC"
        },
        {
          "s": "NYSE:DRE"
        },
        {
          "s": "NYSE:DRH"
        },
        {
          "s": "NYSE:EQR"
        },
        {
          "s": "NYSE:EXR"
        },
        {
          "s": "NASDAQ:GLPI"
        },
        {
          "s": "NYSE:HPP"
        },
        {
          "s": "NYSE:HST"
        },
        {
          "s": "NYSE:HTA"
        },
        {
          "s": "NYSE:INVH"
        },
        {
          "s": "NYSE:IRM"
        },
        {
          "s": "NYSE:KIM"
        },
        {
          "s": "NYSE:MAC"
        },
        {
          "s": "NYSE:MPW"
        },
        {
          "s": "NYSE:NRZ"
        },
        {
          "s": "NYSE:O"
        },
        {
          "s": "NYSE:OHI"
        },
        {
          "s": "NYSE:PGRE"
        },
        {
          "s": "NYSE:PK"
        },
        {
          "s": "NYSE:PLD"
        },
        {
          "s": "NYSE:PSA"
        },
        {
          "s": "NYSE:RPAI"
        },
        {
          "s": "NASDAQ:SBRA"
        },
        {
          "s": "NYSE:SHO"
        },
        {
          "s": "NYSE:SKT"
        },
        {
          "s": "NYSE:SLG"
        },
        {
          "s": "NYSE:SPG"
        },
        {
          "s": "NYSE:SRC"
        },
        {
          "s": "NYSE:STAR"
        },
        {
          "s": "NYSE:STOR"
        },
        {
          "s": "NYSE:STWD"
        },
        {
          "s": "NYSE:TWO"
        },
        {
          "s": "NYSE:UDR"
        },
        {
          "s": "NYSE:VICI"
        },
        {
          "s": "NYSE:VTR"
        },
        {
          "s": "NYSE:WELL"
        },
        {
          "s": "NYSE:WRI"
        },
        {
          "s": "NYSE:WY"
        },
        {
          "s": "NYSE:XHR"
        },
        {
          "s": "NASDAQ:Z"
        }
      ]
    },
    {
      "title": "Financials",
      "symbols": [
        {
          "s": "NASDAQ:ABCB"
        },
        {
          "s": "NASDAQ:ACGL"
        },
        {
          "s": "NYSE:AFL"
        },
        {
          "s": "NYSE:AIG"
        },
        {
          "s": "NYSE:AJG"
        },
        {
          "s": "NYSE:ALL"
        },
        {
          "s": "NYSE:ALLY"
        },
        {
          "s": "NASDAQ:AMTD"
        },
        {
          "s": "NYSE:APO"
        },
        {
          "s": "NASDAQ:ARCC"
        },
        {
          "s": "NYSE:ATH"
        },
        {
          "s": "NYSE:AXP"
        },
        {
          "s": "NYSE:BAC"
        },
        {
          "s": "NYSE:BEN"
        },
        {
          "s": "NYSE:BK"
        },
        {
          "s": "NYSE:BNS"
        },
        {
          "s": "NYSE:BRK.B"
        },
        {
          "s": "NYSE:BRO"
        },
        {
          "s": "NYSE:BX"
        },
        {
          "s": "NYSE:C"
        },
        {
          "s": "NYSE:CB"
        },
        {
          "s": "NYSE:CFG"
        },
        {
          "s": "NASDAQ:CG"
        },
        {
          "s": "NYSE:CMA"
        },
        {
          "s": "NYSE:CNO"
        },
        {
          "s": "NYSE:COF"
        },
        {
          "s": "NYSE:CS"
        },
        {
          "s": "NYSE:DFS"
        },
        {
          "s": "NYSE:EQH"
        },
        {
          "s": "NASDAQ:ETFC"
        },
        {
          "s": "NYSE:FHN"
        },
        {
          "s": "NASDAQ:FITB"
        },
        {
          "s": "NYSE:FNB"
        },
        {
          "s": "NASDAQ:GGAL"
        },
        {
          "s": "NYSE:GS"
        },
        {
          "s": "NASDAQ:HBAN"
        },
        {
          "s": "NYSE:HIG"
        },
        {
          "s": "NYSE:HSBC"
        },
        {
          "s": "NYSE:IBN"
        },
        {
          "s": "NYSE:ICE"
        },
        {
          "s": "NYSE:ING"
        },
        {
          "s": "NASDAQ:ISBC"
        },
        {
          "s": "NYSE:IVZ"
        },
        {
          "s": "NYSE:JEF"
        },
        {
          "s": "NYSE:JHG"
        },
        {
          "s": "NYSE:JPM"
        },
        {
          "s": "NYSE:KEY"
        },
        {
          "s": "NYSE:KKR"
        },
        {
          "s": "NYSE:L"
        },
        {
          "s": "NYSE:LNC"
        },
        {
          "s": "NYSE:MET"
        },
        {
          "s": "NYSE:MFC"
        },
        {
          "s": "NYSE:MMC"
        },
        {
          "s": "NYSE:MS"
        },
        {
          "s": "NYSE:MTG"
        },
        {
          "s": "NASDAQ:NAVI"
        },
        {
          "s": "NASDAQ:NDAQ"
        },
        {
          "s": "NASDAQ:NTRS"
        },
        {
          "s": "NYSE:NYCB"
        },
        {
          "s": "NYSE:ORI"
        },
        {
          "s": "NYSE:PB"
        },
        {
          "s": "NASDAQ:PBCT"
        },
        {
          "s": "NASDAQ:PFG"
        },
        {
          "s": "NYSE:PGR"
        },
        {
          "s": "NYSE:PNC"
        },
        {
          "s": "NYSE:PRU"
        },
        {
          "s": "NYSE:RDN"
        },
        {
          "s": "NYSE:RF"
        },
        {
          "s": "NYSE:SC"
        },
        {
          "s": "NYSE:SCHW"
        },
        {
          "s": "NYSE:SNV"
        },
        {
          "s": "NYSE:SQ"
        },
        {
          "s": "NYSE:STL"
        },
        {
          "s": "NYSE:SYF"
        },
        {
          "s": "NYSE:TD"
        },
        {
          "s": "NASDAQ:UMPQ"
        },
        {
          "s": "NYSE:UNM"
        },
        {
          "s": "NYSE:USB"
        },
        {
          "s": "NASDAQ:VLY"
        },
        {
          "s": "NYSE:WFC"
        },
        {
          "s": "NYSE:WU"
        },
        {
          "s": "NASDAQ:ZION"
        }
      ]
    }
  ]
}
  </script>
</div>
<!-- TradingView Widget END -->


