<div class="header">
  <%= link_to "/documents" do %>
    <p><i class="fas fa-chevron-left"></i>   BACK</p>
  <% end %>
  <h1>Articles</h1>
</div>
<% @books.each do |book| %>
  <div class="card-edu">
    <div class="card-edu-infos">
      <a href="<%= book.url %>"><h2><%= book.title %></h2></a>
      <p><%= book.content %></p>
    </div>
  </div>
<% end %>
