<div class="header">
  <div class='top'>
    <%= link_to "/documents" do %>
      <p><i class="fas fa-chevron-left"></i>   BACK</p>
    <% end %>
  </div>
  <h1>Educations</h1>
</div>
<% @educations.each do |education| %>
  <div class="card-edu">
    <i class="fas fa-book-reader"></i>
    <div class="card-edu-infos">
      <a href="<%= education.url %>"><h2><%= education.title %></h2></a>
      <h4><%= education.content %></h4>
    </div>

  </div>
<% end %>
