<div class="container">
      <div class="cards">
        <%= link_to "/documents/folders" do %>
          <div class="documents-card">
            <p>Administrative</p>
          </div>
        <% end %>
        <%= link_to "/documents/podcasts" do %>
          <div class="podcasts-card">
            <p>Tools</p>
          </div>
        <% end %>
        <%= link_to "/documents/videos" do %>
          <div class="videos-card">
            <p>Education</p>
          </div>
        <% end %>
        <%= link_to "/documents/books" do %>
          <div class="books-card">
            <p>Portfolio</p>
          </div>
        <% end %>
      </div>
    </div>