<div class="homedisplay">
  
    <h1>Education</h1>
    <%=link_to " + Add a new source", new_document_path, class: "btn btn-primary btn-flat" %>

    <div class="d-flex">
      <div class="cards">
        <%= link_to "/documents/folders" do %>
          <div class="documents-card">
            <p>Documents</p>
          </div>
        <% end %>
        <%= link_to "/documents/books" do %>
          <div class="books-card">
            <p>Books</p>
          </div>
        <% end %>
      </div>
    </div>
    
  
    


</div>