<div class="homedisplay">
  
    <h1>Documentation</h1>

    <div class="container">
      <div class="cards">
        <%= link_to "/documents" do %>
          <div class="documents-card">
            <p>Documents</p>
          </div>
        <% end %>
        <%= link_to "/documents" do %>
          <div class="podcasts-card">
            <p>Podcasts</p>
          </div>
        <% end %>
        <%= link_to "/documents" do %>
          <div class="videos-card">
            <p>Videos</p>
          </div>
        <% end %>
        <%= link_to "/documents" do %>
          <div class="books-card">
            <p>Books</p>
          </div>
        <% end %>
      </div>
    </div>
    <a class="btn btn-ghost" href="#">Add a new source</a>

</div>