
<div class="header">
  <%= link_to "/documents/folders" do %>
    <p><i class="fas fa-chevron-left"></i>   BACK</p>
  <% end %>
  <h1>Documents/Portfolios</h1>
</div>
<% @portfolios.each do |portfolio| %>
  <div class="card-edu">
    <i class="fas fa-book-reader"></i>
    <div class="card-edu-infos">
      <a href="<%= portfolio.url %>"><h2><%= portfolio.title %></h2></a>
      <h4><%= portfolio.content %></h4>
    </div>
  </div>
<% end %>