

.documents-card{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1532153975070-2e9ab71f1b14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    height: 350px;
    width: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    p {
        padding-top: 10%;
        padding-left: 10%;
        width: 100%;
        font-size: 30px;
    }
}


.books-card{
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80);
    height: 350px;
    width: 350px;
    position: relative;
    background-size: cover;
    background-position: center;
    p {
        padding-top: 10%;
        padding-left: 10%;
        width: 100%;
        font-size: 30px;
    }
 
}

.cards{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
   
    a {
        color:white;
        transition: 0.5s;
        opacity: 0.6;
    }
    a:hover{
        text-decoration: none;
        opacity: 1;
        
    }
}

.homedisplay{
        background-color: #131722;
    h1{   
      color: white;
      font-weight: 100;
      padding: 1%;
    } 
}

  .btn-flat {
    color: white;
    padding: 8px 50px;
    transition: background 0.3s ease;
    margin: 10% 10% !important;
  }
  
  .btn-flat:hover {
    color: white;
  }
  