.icons {
    .fas, .far{
        font-size: 80px;
        text-align: center;
    }
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
    padding-top: 18%;
    transition: 1s;
    a:hover{
        text-decoration: none;
        transition: 0.3s;
    }
    a{
        display:flex;
        justify-content: center;
        flex-direction: column;
    }
    p{
        text-align: center;
        text-decoration: none;
    }
}

