.broker-form {
  width: 30%;
  height: 770px;
  margin-right: 5px;

  background-color: #1E222D;
  padding: 7px;
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  margin-top: 150px;
}

.trading-journal-form .form-group {
  width: 130px;
  padding: 5px;
  margin: 5px;
  height: 140px;
  text-align: center;
}

.trading-journal-form .form-group input {
  width: 55px;
}


