.broker-form {
  width: 20%;
  height: 100%;
  margin-right: 5px;
  background-color: #1E222D;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

.trading-journal-form .form-group {
  width: 130px;
  padding: 5px;
  margin: 5px;
  height: 140px;
  text-align: center;
}

.trading-journal-form .form-group input {
  width: 55px;
}


.hidden {
  visibility: hidden;
}
