.broker-form {
  width: 20%;
  height: 100%;
  margin-right: 5px;
  background-color: #1E222D;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 70px;
}

.hidden {
  visibility: hidden;
}
