.goldbar {
  height: 20px;
  width: 100%;
  background-color: #FABC01;
  //background-color: #A6A6A8;
  //background-color: #DAC167;
  border-radius: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  box-shadow: 2px;
}
