

.profile-overview {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 8px 8px;
  width: 49%;
  height: 270px;
  background-color: #2F3241;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px;

  position: relative;
}

.sector-color{
  background-color: gold;
  text-align: center;
  color: black;
  width: 70%;
  border-radius: 5px;
}
.info {
  // border: solid 1px white;
  width: 50%;
  padding-top: 10px;
  background-color: #2F3241;
  text-align: left;
  height: 150px;

}

.wallet-overview {
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  width: 100%;
  font-size: large;
}

.personnal-info {
  padding: 5px;
  height: 100%;
  margin-right: 15px;
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  // justify-content: space-around;
}

.sector-info {
  height: 100%;
  width: 100%;
}

.personnal-image {
  padding: 30px;
  margin-left: 10px;
  vertical-align: middle;
  margin-bottom: 60px;
}

.personnal-image > img {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  // position: absolute;
  // top: 40px;
  // left: 53px;
}

.finance-info-1 {
  padding: 10px;
  height: 100%;
  margin-right: 15px;
  width: 75%;
  flex-direction: column;
  justify-content: space-around;
}

  .reset {
    position: absolute;
    bottom: 0px;
    right: 3px;
  }


  // #reset {
  //   position: absolute;
  //   align-self: bottom;
  // }
// .user-avatar {
//   text-align: center;
//   width: 75px;

// }

