

.profile-overview {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 8px 8px;
  width: 49%;
  height: 250px;
  background-color: #2F3241;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px;

  position: relative;
}

.sector-color{
  background-color: gold;
  color: black;
  width: 0 auto;
  text-align: center;
  border-radius: 5px;
}
.info {
  // border: solid 1px white;
  width: 50%;
  padding-top: 10px;
  background-color: #2F3241;
  text-align: left;
  height: 150px;

}

.wallet-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin-right: 15px;
  height: 70%;
  width: 25%;

}

.personnal-info {
  width: 50%;
  padding-top: 10px;
  background-color: #2F3241;
  text-align: left;
  height: 150px;
  position: absolute;
  bottom: 23%;
  right: 27%;
}

.personnal-info p {
  font-size: 20px;
}


.finance-info-1 {
  padding: 10px;
  height: 90%;
  margin-right: 15px;
  width: 25%;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  .reset {
    position: absolute;
    bottom: 0px;
    right: 3px;
  }


  // #reset {
  //   position: absolute;
  //   align-self: bottom;
  // }
// .user-avatar {
//   text-align: center;
//   width: 75px;

// }

.profile-overview > img {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  position: absolute;
  top: 40px;
  left: 53px;
}
