.table-text-color {
  color: white;
  border-radius: 3px;
}
.table-dark {
  background-color: #2F3241;
}

.table td {
  font-weight: normal;
}

.table th {
  font-weight: medium;
}

 // #text-light {
 //    font-weight: lighter;
 //  }


@media (max-width: 1440px){
  .table th, .table td {
    padding: 0.35rem;
  }

}

@media (max-width: 780px){
  .table th, .table td {
    padding: 0.1rem;
    font-weight: lighter;
  }

}

// .Bdazzled-blue {
//   background-color: #415A77;
//   opacity: .85;
// }

.gray {
  background-color: #239C8F;
  opacity: .85;
}


.blue {
  background-color: #E7DFD5;
  opacity: .85;
  color: black;
}
